@primary-color: #3785e7;

@layout-header-height: 40px;
@border-radius-base: 0;

@gray-cc: #ccc;
@gray-dd: #ddd;
@gray-ee: #eee;
@gray-22: #222;
@gray-33: #333;
@gray-44: #444;
@gray-66: #666;
@gray-77: #777;
@gray-88: #888;
@gray-99: #999;
@gray-fa: #fafafa;

@black: black;
@black-10: rgba(0, 0, 0, 0.1);
@black-20: rgba(0, 0, 0, 0.2);
@black-45: rgba(0, 0, 0, 0.45);
@black-50: rgba(0, 0, 0, 0.5);
@black-65: rgba(0, 0, 0, 0.65);

@white: #fff;

@red-1: #f00;
@red-2: #e8524c;

@blue-1: #3785e7;
@blue-2: #0853bf;
@blue-3: #0055c0;
@blue-4: #0084ff;

@green-1: #009a61;

@orange-1: #eb7350;

@border-color: #e8e8e8;

@theme-color: @blue-1;

@screen-xl-width: 1200px;
@screen-md-width: 768px;
@screen-sm-width: 576px;
@screen-xs-width: 480px;

@font-family: 'PingFang SC', 'Microsoft YaHei', 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
